# Mail Configuration
MAIL_USERNAME=your_email@gmail.com
MAIL_PASSWORD=your_app_password

# Database Configuration
DB_URL=jdbc:postgresql://localhost:5432/upf_ride?stringtype=unspecified
DB_USERNAME=postgres
DB_PASSWORD=your_password
